@(paymentType: Form[PaymentTypeFormData])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.PaymentTypeController.createPaymentType) {
    @helper.CSRF.formField
    @inputText(paymentType("name"))
    @inputText(paymentType("description"))
    <div class="buttons">
        <input type="submit" value="Add PaymentType"/>
    </div>
    <a href="@controllers.routes.PaymentTypeController.getAllPaymentTypes()">Back to all paymentTypes</a>
}