@(accounts: Seq[Account])
<a href="@controllers.routes.AccountController.createAccountForm()">Add account</a>
<table>
    <tr>
        <th style="padding: 15px;">ID</th>
        <th style="padding: 15px;">login</th>
        <th style="padding: 15px;">actions</th>
    </tr>
    @for(account <- accounts) {
        <tr>
            <td style="padding: 15px;">@account.id</td>
            <td style="padding: 15px;">@account.login</td>
            <td style="padding: 15px;">
                <a href="@controllers.routes.AccountController.getAccountWithId(account.id)">CHECK</a>
                <a href="@controllers.routes.AccountController.updateAccountForm(account.id)">EDIT</a>
                <a href="@controllers.routes.AccountController.removeAccountWithId(account.id)">REMOVE</a>
            </td>
        </tr>
    }
</table>