@(account: Form[AccountFormData])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.AccountController.createAccount) {
    @helper.CSRF.formField
    @inputText(account("email"))
    @inputText(account("firstName"))
    @inputText(account("lastName"))
    @inputText(account("providerId"))
    @inputText(account("providerKey"))

    <div class="buttons">
        <input type="submit" value="Add Account"/>
    </div>
    <a href="@controllers.routes.AccountController.getAllAccounts()">Back to all accounts</a>
}