@(account: Form[Account])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.AccountController.updateAccount()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@account("id").value" type="hidden" />
    @inputText(account("login"))
    @inputPassword(account("password"))

    <div class="buttons">
        <input type="submit" value="Update Account"/>
    </div>
    <a href="@controllers.routes.AccountController.getAllAccounts()">Back to all accounts</a>
}
